.m1-div{
    height: 400px;
    display: flex;
    align-items: center;
    background-color: #1F2937;
}
.m1-div-container1{
    margin-left: 180px;
}
.m1-div h1{
    font-size: 48px;
    color: #F9FAF8;
}
.m1-div p{
    font: 18px;
    color: #E5E7EB;
}
.m1-div button{
    background-color: #3882F6;
    color: white;
    width: 110px;
    height: 30px;
    border: none;
    border-radius: 8px;
    margin-top: 10px;
}
.img-plc{
    margin-left: 140px;
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
    width: 500px;
    height: 250px;
    background-color: #6e747d;
}