.m3-div{
    height: 460px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
}
.m3-p1{
    margin-top: 130px;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
}
.m3-p2{
    font-size: 24px;
    font-weight: bold;
    margin-left: 500px;
}