.m4-div{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.m4-global-container{
    background-color: #3b83f6;
    width: 1000px;
    height: 140px;
    border-radius: 8px;
    border: none;
    display: flex;
    align-items: center;
}
.m4-p1{
    font-size: 24px;
    font-weight: 500;
    color: white;
    margin-left: 100px;
    margin-bottom: 3px;
}
.m4-p2{
    font-size: 16px;
    color: rgb(216, 214, 214);
    margin-left: 100px;
}
.m4-child-container2 button{
    font-size: 16px;
    margin-left: 230px;
    background-color: #3882F6;
    color: white;
    width: 110px;
    height: 30px;
    border: solid;
    border-radius: 8px;
    margin-top: 10px;
    border-color: white;
}